<a href = "/">今日最新</a>&nbsp;&nbsp;|&nbsp;
<a href = "/china">国内购</a>&nbsp;&nbsp;|&nbsp;
<a href = "/usa">海外购</a>&nbsp;&nbsp;|&nbsp;
<a href = "/coupons">优惠券</a>&nbsp;&nbsp;|&nbsp;
<a href = "/promotion">促销活动</a>&nbsp;
关键词:<%= params[:q] %>