/*全局css*/
html,body{height:100%;}
body{background:#eeeeee;color:#000000;font:normal 14px helvetica,arial,sans-serif;margin:0;padding:0;	}
a{color:#003399;font-weight:bold;text-decoration:none;}
a:focus{outline:none;}
a:hover{text-decoration:underline;}
img{border:0;}
#main{background:#ffffff;width:960px;margin-left:auto; margin-right: auto;padding:5px 0px 5px 0px;}


/*导航css*/
#top{padding:0px 20px 10px 20px;height:75px;}
#logo{float:left;width:25%;}
#logo a{font-weight:normal;color:#000000;}
#logo-img{float:left;border:0;}
#logo-text{float:left;padding:15px 0 0 5px;line-height:30px;font-size:20px;font-weight:bold;}
#logo-text2{float:left;padding:0 0 5px 5px;line-height:12px;font-size:14px;font-weight:bold;color:#000000}
#nav{float:left;width:50%;padding-top:60px;text-align:center;font-size:14px;}
#sub-nav{padding:5px 10px 5px 10px;background:#ffffff;color:#ffffff;font-size:12px;}
#sub-nav a{color:#ffffff;font-weight:normal;font-size:12px;}
#catlog{background:#333333;padding:7px;border-top:0px dotted #AAAAAA;text-align:center;}
#sitelist{background:#666666;padding:7px;border-top:1px dotted #AAAAAA;border-bottom:0px dotted #AAAAAA;text-align:center;}
#search{float:left;width:25%;padding-top:0px;text-align:right;}
#followme{float:right;font-size:12px;margin:15px -30px 15px 0;}

/*主体css*/
#content{padding:5px 20px 10px 20px;}
.deal-item{border-bottom:1px dotted #AAAAAA;padding:10px;overflow:hidden;}
.item-left{float:left;width:180px;text-align:center;vertical-align:center;}
.deal-img{padding:10px 0 10px 0;}
.deal-img-detail{padding:10px 0 10px 0;}
.item-right{float:right;width:710px;}
.item-right-detail{width:100%;text-align:left;}
.favicon{height:16px;}
.deal-title{color:#003399;font-size:16px;line-height:24px;font-weight:bold;padding:5px 0 5px 0;}
.deal-title-detail{color:#000000;font-size:20px;line-height:24px;font-weight:bold;padding:5px 0 15px 0;text-align:left;}
.deal-title a{color:#003399;}
.deal-tag{display:auto;padding:5px 0 5px 0;color:#000000;}
.deal-tag a{font-size:14px;font-weight:normal;}
.deal-price{display:auto;font-size:14px;font-weight:bold;color:#000000;padding:5px 0 5px 0;}
.deal-price span{color:#000000;}
.deal-desc{color:#000000;line-height:20px;padding:5px 0 5px 0;}
.deal-hit{padding:5px 0 5px 0;height:10px;}
.bbuttonr{float:left;width:80px;height:22px;text-align:center;line-height:22px;font-weight:normal;font-size:12px;color:#ffffff;background-color:#BD362F;background-image:-moz-linear-gradient(center top , #EE5F5B, #BD362F);background-image:-webkit-linear-gradient(top, #EE5F5B, #BD362F);background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-radius:4px;}
.share-button{background:url(/images/share.gif) -32px -56px;vertical-align:bottom;height:18px;width:86px;border:0;float:right;}



.share{float:right;display:none;}
.share-button{background:url(/images/share.gif) -32px -56px;vertical-align:bottom;height:18px;width:86px;border:0;}
#page{padding:5px;text-align:center;vertical-align:bottom;}

/*底部css*/
#copyright{text-align:right;margin-top:5px;font-style:italic;font-weight:100;color:#999999;}
#copyright a{font-weight:100;color:#999999;}